
<div class="col-md-3" style="border:1px solid lightgrey;" id="profile_box">
    <form>
        <div class="form-group" ng-controller="blogCtrl">
            <h1>Blog</h1>
            <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Title" ng-model="ctrl.blogNewPost">
            </div>
            <textarea class="form-control" id="exampleTextarea" rows="3" ng-model="ctrl.blogNewPost"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="ctrl.blogNewPost">Submit</button>
    </form>
</div>

<div class="container col-sm-8 col-sm-offset-1" ng-controller="blogCtrl">
    <div class="panel panel-default">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="blog in blogPosts">
                <strong>{{blog.Title}}</strong>
                <p>
                    {{blog.Post}}
                </p>
                <h3>{{blog.BlogAuthor}}</h3>
            </li>
        </ul>
    </div>
</div>

