<section class="container-fluid" ng-controller="searchCtrl as ctrl">
    <div class="jumbotron">
        <h1 class="display-3 lead">MyPod.</h1>
        <h2 class="lead">A simple podcast player that encourages the sharing of thoughts and ideas.</h2>

        <div class="col s4 offset-s4 login-input">
            <div class="col s4 offset-s4 login-input">
                <input type="text" class="form-control" ng-model="ctrl.email" placeholder="email">
            </div>
            <div class="col s4 offset-s4 login-input">
                <input type="password" class="form-control" ng-model="ctrl.password" placeholder="password">
            </div>
        </div>
        <div class="col s4 offset-s4">
            <a ng-click="ctrl.login()" class="btn btn-default btn-center">Login</a>
            <a ng-click="ctrl.register()" class="btn btn-default btn-center">Register</a>
        </div>
    </div>
</section>