@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>You can serach and subscribe to your favorite podcasts, share the channels you enjoy, and discuss previous episodes you've heard, etc... Spreading knowledge and new ideas is the ultimate goal!</p>
