@{
    ViewBag.Title = "Home Page";
}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/#/home">MyPod</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/#/search">Search</a></li>
            <li><a href="/#/podcasts">Podcasts</a></li>
            <li><a href="/#/blog">Blog</a></li>                                                            
        </ul>
    </div>
</nav>
                                                                  
<ng-view></ng-view>

<section class="container-fluid" ng-controller="searchCtrl as ctrl">
        <div class="panel panel-default episodes" ng-model="getPodcastFeed">
            <p>{{episode.title}}</p>
            <audio controls> <source src="{{episode.url}}" type="audio/mpeg"></audio>
        </div>
</section>