@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MYPod</h1>
    <div class="form-group">
        <div class="col-md-2 col-md-10">
            <p class="lead">Login or Sign up!</p>
            <div class="col s4 offset-s4">
                <a ng-click="" class="btn btn-default">Login</a>
                <a ng-click="" class="btn btn-default">Register</a>
            </div>
        </div>
    </div>
</div>

<ng-view></ng-view>

//add player
